  <div class="row">
        <div class="col-lg-9">
            <h1>182.Duplicate Emails</h1>
            <div class="markdown-body" style="margin-top: 20px">
                <p>Write a SQL query to find all duplicate emails in a table named <code>Person1</code>.</p>

<pre>
+----+---------+
| Id | Email   |
+----+---------+
| 1  | a@b.com |
| 2  | c@d.com |
| 3  | a@b.com |
+----+---------+
</pre>

<p>For example, your query should return the following for the above table:</p>

<pre>
+---------+
| Email   |
+---------+
| a@b.com |
+---------+
</pre>

<p><strong>Note</strong>: All emails are in lowercase.</p>

In [1]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:newpass_1234@localhost:3306/sys')

In [2]:
pd.read_sql_table("Person1", engine)

   Id    Email
0   1  a@b.com
1   2  c@d.com
2   3  a@b.com

In [3]:
query = '''
SELECT p.Email
FROM Person1 p
GROUP BY p.Email
HAVING COUNT(p.Id) > 1; 
'''
pd.read_sql_query(query, engine)

     Email
0  a@b.com

## Note:
# Time:  O(n^2)
# Space: O(n)