   <div class="row">
        <div class="col-lg-9">
            <h1>597.Friend Requests I: Overall Acceptance Rate</h1>
            <div class="markdown-body" style="margin-top: 20px">
                In social network like Facebook or Twitter, people send friend requests and accept others&rsquo; requests as well. Now given two tables as below:
<p>&nbsp;</p>
Table: <code>friend_request</code>

<pre>
| sender_id | send_to_id |request_date|
|-----------|------------|------------|
| 1         | 2          | 2016_06-01 |
| 1         | 3          | 2016_06-01 |
| 1         | 4          | 2016_06-01 |
| 2         | 3          | 2016_06-02 |
| 3         | 4          | 2016-06-09 |
</pre>

<p>&nbsp;</p>
Table: <code>request_accepted</code>

<pre>
| requester_id | accepter_id |accept_date |
|--------------|-------------|------------|
| 1            | 2           | 2016_06-03 |
| 1            | 3           | 2016-06-08 |
| 2            | 3           | 2016-06-08 |
| 3            | 4           | 2016-06-09 |
| 3            | 4           | 2016-06-10 |
</pre>

<p>&nbsp;</p>
Write a query to find the overall acceptance rate of requests rounded to 2 decimals, which is the number of acceptance divide the number of requests.

<p>&nbsp;</p>
For the sample data above, your query should return the following result.

<p>&nbsp;</p>

<pre>
|accept_rate|
|-----------|
|       0.80|
</pre>

In [1]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:newpass_1234@localhost:3306/sys')

In [2]:
pd.read_sql_table("friend_request", engine)

   sender_id  send_to_id request_date
0          1           2   2016-06-01
1          1           3   2016-06-01
2          1           4   2016-06-01
3          2           3   2016-06-02
4          3           4   2016-06-09

In [3]:
pd.read_sql_table("request_accepted", engine)

   requester_id  accepter_id accept_date
0             1            2  2016-06-03
1             1            3  2016-06-08
2             2            3  2016-06-08
3             3            4  2016-06-09
4             3            4  2016-06-10

In [4]:
query = '''
SELECT ROUND(IFNULL(acc/req, NULL), 2)
FROM (
SELECT COUNT(DISTINCT sender_id, send_to_id) req,
       COUNT(DISTINCT requester_id, accepter_id) acc,
       MONTH(request_date) month
FROM friend_request
LEFT JOIN request_accepted
ON sender_id = requester_id AND send_to_id = accepter_id
AND MONTH(request_date) = MONTH(accept_date)
GROUP BY month) temp;
'''
pd.read_sql_query(query, engine)

   ROUND(IFNULL(acc/req, NULL), 2)
0                              0.8

## Note

#### 1. Multiple Distinct:  COUNT(DISTINCT [var1], [var2])
#### 2. After subquery, always give a name even if not use it any longer.