<div class="row">
        <div class="col-lg-9">
            <h1>612.Shortest Distance in a Plane</h1>
            <div class="markdown-body" style="margin-top: 20px">
                Table <code>point_2d</code> holds the coordinates (x,y) of some unique points (more than two) in a plane.
<p>&nbsp;</p>
Write a query to find the shortest distance between these points rounded to 2 decimals.

<p>&nbsp;</p>

<pre>
| x  | y  |
|----|----|
| -1 | -1 |
| 0  | 0  |
| -1 | -2 |
</pre>

<p>&nbsp;</p>
The shortest distance is 1.00 from point (-1,-1) to (-1,2). So the output should be:

<p>&nbsp;</p>

<pre>
| shortest |
|----------|
| 1.00     |
</pre>

<p>&nbsp;</p>
<b>Note:</b> The longest distance among all the points are less than 10000.

<p>&nbsp;</p>

In [1]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:newpass_1234@localhost:3306/sys')

In [2]:
point_2d = pd.read_sql_table("point_2d", engine)
point_2d

   x  y
0 -1 -1
1  0  0
2 -1 -2

In [16]:
query = '''
WITH distance as (
SELECT SQRT(pow(t1.x - t2.x,2) + pow(t1.y - t2.y,2)) d
FROM point_2d t1
CROSS JOIN point_2d t2
WHERE t1.x <> t2.x OR t1.y <> t2.y
)
SELECT MIN(d)
FROM distance;
'''
pd.read_sql_query(query, engine)

   MIN(d)
0     1.0

Note:
1. CREAT a new table with distance matching.
2. CROSS JOIN a table twice and find the distance. Note that need to skip the identical point.
3. Calculate min from the new table.



* FROM a CROSS JOIN b == FROM a, b
* pow(xx, n) ->  xx^n