   <div class="row">
        <div class="col-lg-9">
            <h1>613.Shortest Distance in a Line</h1>
            <div class="markdown-body" style="margin-top: 20px">
                Table <code>point</code> holds the x coordinate of some points on x-axis in a plane, which are all integers.
<p>&nbsp;</p>
Write a query to find the shortest distance between two points in these points.

<p>&nbsp;</p>

<pre>
| x   |
|-----|
| -1  |
| 0   |
| 2   |
</pre>

<p>&nbsp;</p>
The shortest distance is &#39;1&#39; obviously, which is from point &#39;-1&#39; to &#39;0&#39;. So the output is as below:

<p>&nbsp;</p>

<pre>
| shortest|
|---------|
| 1       |
</pre>

<p>&nbsp;</p>
<b>Note:</b> Every point is unique, which means there is no duplicates in table <code>point</code>.

<p>&nbsp;</p>
<b>Follow-up:</b> What if all these points have an id and are arranged from the left most to the right most of x axis?

<p>&nbsp;</p>

In [2]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:newpass_1234@localhost:3306/sys')

In [4]:
point = pd.read_sql_table("point", engine)
point

     x
0 -1.0
1  0.0
2  2.0

In [13]:
# Original (Similar to 612. Creat a new and find the min)
# assumption: unique point
query = '''
WITH distance as (
SELECT ABS(t1.x - t2.x) d
FROM point t1, point t2
WHERE t1.x <> t2.x)
SELECT MIN(d) shortest
FROM distance;
'''
pd.read_sql_query(query, engine)

   shortest
0       1.0

In [14]:
# Order from small to large already.
query = '''
SELECT MIN(@c := ABS(@p - (@p:=x))) shortest
FROM point,
     (SELECT @c:= 0, @p:=0) temp;
'''
pd.read_sql_query(query, engine)

   shortest
0       1.0

Note:
Similar to 612.