  <div class="row">
        <div class="col-lg-9">
            <h1>1045.Customers Who Bought All Products</h1>
            <div class="markdown-body" style="margin-top: 20px">
                <p>Table:&nbsp;<code>Customer2</code></p>

<pre>
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| customer_id | int     |
| product_key | int     |
+-------------+---------+
product_key is a foreign key to <code>Product</code> table.
</pre>

<p>Table:&nbsp;<code>Product2</code></p>

<pre>
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| product_key | int     |
+-------------+---------+
product_key is the primary key column for this table.
</pre>

<p>&nbsp;</p>

<p>Write an SQL query for a report that provides the customer ids from the&nbsp;<code>Customer</code>&nbsp;table&nbsp;that bought all the products in the <code>Product</code>&nbsp;table.</p>

<p>For example:</p>

<pre>
Customer2 table:
+-------------+-------------+
| customer_id | product_key |
+-------------+-------------+
| 1           | 5           |
| 2           | 6           |
| 3           | 5           |
| 3           | 6           |
| 1           | 6           |
+-------------+-------------+

Product2 table:
+-------------+
| product_key |
+-------------+
| 5           |
| 6           |
+-------------+

Result table:
+-------------+
| customer_id |
+-------------+
| 1           |
| 3           |
+-------------+
The customers who bought all the products (5 and 6) are customers with id 1 and 3.
</pre>

In [1]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:newpass_1234@localhost:3306/sys')

In [4]:
pd.read_sql_table("Customer2", engine)

   customer_id  product_key
0            1            5
1            2            6
2            3            5
3            3            6
4            1            6

In [5]:
pd.read_sql_table("Product2", engine)

   product_key
0            5
1            6

In [13]:
## Method 1
query = '''
SELECT c.customer_id
FROM Customer2 c
GROUp BY c.customer_id
HAVING sum(CASE WHEN product_key IN (SELECT product_key
                                    FROM Product2)
          THEN 1 ELSE 0 END) = (SELECT COUNT(DISTINCT product_key)
                                FROM Product2);
'''
pd.read_sql_query(query, engine)

   customer_id
0            1
1            3

In [15]:
## Method 2
query = '''
SELECT c.customer_id
FROM Customer2 c
GROUp BY c.customer_id
HAVING count(Distinct c.product_key) = (SELECT COUNT(DISTINCT product_key)
                                FROM Product2);
'''
pd.read_sql_query(query, engine)

   customer_id
0            1
1            3

## Note
# Time:  O(n + k)
# Space: O(n + k)

#### 1. Note that product_key is a FK in Customer2 but a PK in Product2. It always exist the reference in Product2. Therefore, it is natural to use number of distinct product id to find the qualified rows.