<div class="row">
        <div class="col-lg-9">
            <h1>1127.User Purchase Platform</h1>
            <div class="markdown-body" style="margin-top: 20px">
                <p>Table: <code>Spending</code></p>

<pre>
+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| user_id     | int     |
| spend_date  | date    |
| platform    | enum    | 
| amount      | int     |
+-------------+---------+
The table logs the spendings history of users that make purchases from an online shopping website which has a desktop and a mobile application.
(user_id, spend_date, platform) is the primary key of this table.
The platform column is an ENUM type of (&#39;desktop&#39;, &#39;mobile&#39;).
</pre>

<p>Write an SQL query to find the total number of users and the total amount spent&nbsp;using mobile <strong>only</strong>, desktop <strong>only</strong> and <strong>both</strong> mobile and desktop together for each date.</p>

<p>The query result format is in the following example:</p>

<pre>
<code>Spending</code> table:
+---------+------------+----------+--------+
| user_id | spend_date | platform | amount |
+---------+------------+----------+--------+
| 1       | 2019-07-01 | mobile   | 100    |
| 1       | 2019-07-01 | desktop  | 100    |
| 2       | 2019-07-01 | mobile   | 100    |
| 2       | 2019-07-02 | mobile   | 100    |
| 3       | 2019-07-01 | desktop  | 100    |
| 3       | 2019-07-02 | desktop  | 100    |
+---------+------------+----------+--------+

Result table:
+------------+----------+--------------+-------------+
| spend_date | platform | total_amount | total_users |
+------------+----------+--------------+-------------+
| 2019-07-01 | desktop  | 100          | 1           |
| 2019-07-01 | mobile   | 100          | 1           |
| 2019-07-01 | both     | 200          | 1           |
| 2019-07-02 | desktop  | 100          | 1           |
| 2019-07-02 | mobile   | 100          | 1           |
| 2019-07-02 | both     | 0            | 0           |
+------------+----------+--------------+-------------+ 
On 2019-07-01, user 1 purchased using <strong>both</strong> desktop and mobile, user 2 purchased using mobile <strong>only</strong> and user 3 purchased using desktop <strong>only</strong>.
On 2019-07-02, user 2 purchased using mobile <strong>only</strong>, user 3 purchased using desktop <strong>only</strong> and no one purchased using <strong>both</strong> platforms.</pre>

In [1]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:newpass_1234@localhost:3306/sys')

In [14]:
Spending = pd.read_sql_table("Spending", engine)
Spending

   user_id spend_date platform  amount
0        1 2019-07-01   mobile     100
1        1 2019-07-01  desktop     100
2        2 2019-07-01   mobile     100
3        2 2019-07-02   mobile     100
4        3 2019-07-01  desktop     100
5        3 2019-07-02  desktop     100

In [19]:
query = '''
SELECT spend_date, 
       user_id, 
       (CASE WHEN COUNT(DISTINCT platform) = 1 THEN 'both'
        ELSE (IF(platform = 'mobile', 'mobile', 'desktop')) END) platform1,
        SUM(amount) amount
FROM Spending s
GROUP BY spend_date, user_id;
'''
pd.read_sql_query(query, engine)

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1055 (42000): Expression #3 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'sys.s.platform' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by
[SQL:
SELECT spend_date,
       user_id,
       (CASE WHEN COUNT(DISTINCT platform) = 1 THEN 'both'
        ELSE (IF(platform = 'mobile', 'mobile', 'desktop')) END) platform1,
        SUM(amount) amount
FROM Spending s
GROUP BY spend_date, user_id;
]
(Background on this error at: http://sqlalche.me/e/f405)

In [18]:
query = '''
SELECT IF(platform = 'mobile', 'mobile', 'desktop') platform1
FROM Spending;
'''
pd.read_sql_query(query, engine)

  platform1
0    mobile
1   desktop
2    mobile
3    mobile
4   desktop
5   desktop