 <div class="row">
        <div class="col-lg-9">
            <h1>197.Rising Temperature</h1>
            <div class="markdown-body" style="margin-top: 20px">
                <p>Given a <code>Weather</code> table, write a SQL query to find all dates&#39; Ids with higher temperature compared to its previous (yesterday&#39;s) dates.</p>

<pre>
+---------+------------------+------------------+
| Id(INT) | RecordDate(DATE) | Temperature(INT) |
+---------+------------------+------------------+
|       1 |       2015-01-01 |               10 |
|       2 |       2015-01-02 |               25 |
|       3 |       2015-01-03 |               20 |
|       4 |       2015-01-04 |               30 |
+---------+------------------+------------------+
</pre>

<p>For example, return the following Ids for the above <code>Weather</code> table:</p>

<pre>
+----+
| Id |
+----+
|  2 |
|  4 |
+----+
</pre>

In [1]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:newpass_1234@localhost:3306/sys')

In [4]:
pd.read_sql_table("Weather", engine)

   Id RecordDate  Temperature
0   1 2015-01-01           10
1   2 2015-01-02           25
2   3 2015-01-03           20
3   4 2015-01-04           30

In [9]:
query = '''
SELECT w.Id
FROM Weather w
INNER JOIN Weather wy
WHERE datediff(w.RecordDate, wy.RecordDate) = 1 
AND w.Temperature > wy.Temperature;
'''
pd.read_sql_query(query, engine)

   Id
0   2
1   4

## Note
# Time:  O(n^2)
# Space: O(n)

#### 1. DATEDIFF(exp1, exp2) = exp1 - exp2.