 <div class="row">
        <div class="col-lg-9">
            <h1>571.Find Median Given Frequency of Numbers</h1>
            <div class="markdown-body" style="margin-top: 20px">
                <p>The <code>Numbers</code> table keeps the value of number and its frequency.</p>

<pre>
+----------+-------------+
|  Number  |  Frequency  |
+----------+-------------|
|  0       |  7          |
|  1       |  1          |
|  2       |  3          |
|  3       |  1          |
+----------+-------------+
</pre>

<p>In this table, the numbers are <code>0, 0, 0, 0, 0, 0, 0, 1, 2, 2, 2, 3</code>, so the median is <code>(0 + 0) / 2 = 0</code>.</p>

<pre>
+--------+
| median |
+--------|
| 0.0000 |
+--------+
</pre>

<p>Write a query to find the median of all numbers and name the result as <code>median</code>.</p>

In [2]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:newpass_1234@localhost:3306/sys')

In [3]:
pd.read_sql_table("Numbers", engine)

   Number  Frequency
0       0          7
1       1          1
2       2          3
3       3          1

In [50]:
## Method 1: use <= and >= to aviod NaN on the boundary.
## If the value is a median, # fre >= abs(# larger - # small)
query = '''
SELECT AVG(n.Number) Median 
FROM Numbers n
WHERE  n.Frequency >= abs((SELECT Sum(nb.Frequency) cumvalue
                           FROM Numbers nb
                           WHERE nb.Number <= n.Number)  -
                           (SELECT Sum(nt.Frequency) invcumvalue
                            FROM Numbers nt
                            WHERE nt.Number >= n.Number));
'''
pd.read_sql_query(query, engine)

   Median
0     0.0

In [49]:
## Method 2:
#### Median: even number (average score of (n/2)th and (n/2+1)th values)
####         odd number (value of (n+1)/2th value)
#### For a single value, median is between (n/2)th value and (n/2 + 1) value.
#### However, for a median bucket, 
#### it should has AccF between (n/2 + 0)th value and (n/2+freq)th value.
query = '''
SELECT AVG(t.Number) Median
FROM (SELECT temp_out.Number, 
             temp_out.Frequency, 
             temp_out.AccF, 
             temp_sum.SumF
      FROM (SELECT n.Number, 
                   n.Frequency, 
                   @c := @c + n.Frequency AccF
            FROM Numbers n, 
                (SELECT @c := 0) temp_int
            ORDER BY Number) temp_out,
           (SELECT SUM(Frequency) SumF 
            FROM Numbers) temp_sum) t
WHERE AccF BETWEEN t.SumF / 2 AND t.SumF / 2 + t.Frequency;
'''
pd.read_sql_query(query, engine)

   Median
0     0.0

## Note
# Time: O(n^2)
# Space: O(n)

#### 1. AVG([Var]) - average of a value