<div class="row">
        <div class="col-lg-9">
            <h1>586.Customer Placing the Largest Number of Orders</h1>
            <div class="markdown-body" style="margin-top: 20px">
                <p>Query the <b>customer_number</b> from the <b><i>orders</i></b> table for the customer who has placed the largest number of orders.</p>

<p>It is guaranteed that exactly one customer will have placed more orders than any other customer.</p>

<p>The <b><i>orders</i></b> table is defined as follows:</p>

<pre>
| Column            | Type      |
|-------------------|-----------|
| order_number (PK) | int       |
| customer_number   | int       |
| order_date        | date      |
| required_date     | date      |
| shipped_date      | date      |
| status            | char(15)  |
| comment           | char(200) |
</pre>

<p><b>Sample Input</b></p>

<pre>
| order_number | customer_number | order_date | required_date | shipped_date | status | comment |
|--------------|-----------------|------------|---------------|--------------|--------|---------|
| 1            | 1               | 2017-04-09 | 2017-04-13    | 2017-04-12   | Closed |         |
| 2            | 2               | 2017-04-15 | 2017-04-20    | 2017-04-18   | Closed |         |
| 3            | 3               | 2017-04-16 | 2017-04-25    | 2017-04-20   | Closed |         |
| 4            | 3               | 2017-04-18 | 2017-04-28    | 2017-04-25   | Closed |         |
</pre>

<p><b>Sample Output</b></p>

<pre>
| customer_number |
|-----------------|
| 3               |
</pre>

<p><b>Explanation</b></p>

<pre>
The customer with number &#39;3&#39; has two orders, which is greater than either customer &#39;1&#39; or &#39;2&#39; because each of them  only has one order. 
So the result is customer_number &#39;3&#39;.
</pre>

<p><i><b>Follow up:</b> What if more than one customer have the largest number of orders, can you find all the customer_number in this case?</i></p>

In [1]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:newpass_1234@localhost:3306/sys')

In [2]:
pd.read_sql_table("orders1", engine)
## No use for other variables

,order_number,customer_number,order_date,required_date,shipped_date,status,comment
0,1,1,NaT,NaT,NaT,None,None
1,2,2,NaT,NaT,NaT,None,None
2,3,3,NaT,NaT,NaT,None,None
3,4,3,NaT,NaT,NaT,None,None

In [3]:
# Method 1: only one outcome
query = '''
SELECT o.customer_number
FROM orders1 o
GROUP BY o.customer_number
ORDER BY COUNT(DISTINCT o.order_number) DESC
LIMIT 1;
'''
pd.read_sql_query(query, engine)

   customer_number
0                3

In [4]:
# Method 2: If multiple records, 'Having [condition]'
query = '''
SELECT o.customer_number
FROM orders1 o
GROUP BY o.customer_number
HAVING COUNT(DISTINCT o.order_number) IN 
    (SELECT MAX(order_total)
    FROM (SELECT COUNT(DISTINCT op.order_number) order_total
    FROM orders1 op
    GROUP BY op.customer_number) temp) ;
'''
pd.read_sql_query(query, engine)

   customer_number
0                3