 <h1>614.Second Degree Follower</h1>
            <div class="markdown-body" style="margin-top: 20px">
                <p>In facebook, there is a <code>follow</code> table with two columns: <b>followee</b>, <b>follower</b>.</p>

<p>Please write a sql query to get the amount of each follower&rsquo;s follower if he/she has one.</p>

<p>For example:</p>

<pre>
+-------------+------------+
| followee    | follower   |
+-------------+------------+
|     A       |     B      |
|     B       |     C      |
|     B       |     D      |
|     D       |     E      |
+-------------+------------+
</pre>
should output:

<pre>
+-------------+------------+
| follower    | num        |
+-------------+------------+
|     B       |  2         |
|     D       |  1         |
+-------------+------------+
</pre>
<b>Explaination:</b><br />
Both B and D exist in the follower list, when as a followee, B&#39;s follower is C and D, and D&#39;s follower is E. A does not exist in follower list.
<p>&nbsp;</p>

<p>&nbsp;</p>
<b>Note:</b><br />
Followee would not follow himself/herself in all cases.<br />
Please display the result in follower&#39;s alphabet order.

In [2]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:newpass_1234@localhost:3306/sys')

In [4]:
pd.read_sql_table("follow", engine)

  followee follower
0        A        B
1        B        C
2        B        D
3        D        E

In [5]:
query = '''
SELECT f1.follower, COUNT(DISTINCT f2.follower) num
FROM follow f1
INNER JOIN follow f2
ON f1.follower = f2.followee
GROUP BY f1.follower
ORDER BY num;
'''

pd.read_sql_query(query, engine)

  follower  num
0        B    2
1        D    1

1. INNER JOIN: make sure no 0 records there.