<div class="row">
        <div class="col-lg-9">
            <h1>1164.Product Price at a Given Date</h1>
            <div class="markdown-body" style="margin-top: 20px">
                <p>Table: <code>Products</code></p>

<pre>
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| product_id    | int     |
| new_price     | int     |
| change_date   | date    |
+---------------+---------+
(product_id, change_date) is the primary key of this table.
Each row of this table indicates that the price of some product was changed to a new price at some date.</pre>

<p>&nbsp;</p>

<p>Write an SQL query to find the prices of all products on <strong>2019-08-16</strong>. Assume the price of all products before any change is <strong>10</strong>.</p>

<p>The query result format is in the following example:</p>

<pre>
<code>Products</code> table:
+------------+-----------+-------------+
| product_id | new_price | change_date |
+------------+-----------+-------------+
| 1          | 20        | 2019-08-14  |
| 2          | 50        | 2019-08-14  |
| 1          | 30        | 2019-08-15  |
| 1          | 35        | 2019-08-16  |
| 2          | 65        | 2019-08-17  |
| 3          | 20        | 2019-08-18  |
+------------+-----------+-------------+

Result table:
+------------+-------+
| product_id | price |
+------------+-------+
| 2          | 50    |
| 1          | 35    |
| 3          | 10    |
+------------+-------+
</pre>

In [1]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:newpass_1234@localhost:3306/sys')

In [2]:
Products = pd.read_sql_table("Products", engine)
Products

   product_id  new_price change_date
0           1         20  2019-08-14
1           2         50  2019-08-14
2           1         30  2019-08-15
3           1         35  2019-08-16
4           2         65  2019-08-17
5           3         20  2019-08-18

In [3]:
# Method 1
query = '''
SELECT p.product_id, IF(t.max_date is null, 10, p.new_price) price
FROM Products p
LEFT JOIN (
SELECT product_id, MAX(change_date) max_date
FROM Products
WHERE change_date <= '2019-08-16'
GROUP BY product_id) t
on p.product_id = t.product_id
WHERE t.max_date = change_date OR t.max_date is null
ORDER BY price DESC ;
'''
pd.read_sql_query(query, engine)

   product_id  price
0           2     50
1           1     35
2           3     10