<h1>177.Nth Highest Salary</h1>
            <div class="markdown-body" style="margin-top: 20px">
                <p>Write a SQL query to get the <em>n</em><sup>th</sup> highest salary from the <code>Employee</code> table.</p>

<pre>
+----+--------+
| Id | Salary |
+----+--------+
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
+----+--------+
</pre>

<p>For example, given the above Employee table, the <em>n</em><sup>th</sup> highest salary where <em>n</em> = 2 is <code>200</code>. If there is no <em>n</em><sup>th</sup> highest salary, then the query should return <code>null</code>.</p>

<pre>
+------------------------+
| getNthHighestSalary(2) |
+------------------------+
| 200                    |
+------------------------+
</pre>

In [1]:
import sqlalchemy
import pandas as pd
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:newpass_1234@localhost:3306/sys')

In [2]:
Employee = pd.read_sql_table("Employee4", engine)
Employee

   Id  Salary
0   1     100
1   2     200
2   3     300

query = '''
CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
BEGIN
declare M int;
set M = N - 1;
RETURN (
ifnull((select distinct Salary from Employee
order by Salary DESC
limit 1 offset M),null)
);
END
getNthHighestSalary(2)
'''

pd.read_sql_query(query, engine)

## Note
#### 1. "limit 1 offset M" == "limit M, 1"
#### 2. Create function
#### 3. Set value before RETURN. OFFEST could not have calculation.